/* CSS Document */
html, body {
	margin:0;
	padding:0;	
	height:100%;
	overflow:inherit;
}
#wrap {
	min-height: 100%; /* min. height for modern browser */
    height:auto; /* important rule for modern Browser */
	/* Negative indent footer by it's height */
	margin: 0 auto -131px;
	padding-bottom:131px;
	position:relative;
	width:100%;
	/*margin: 0 auto -30px;
	padding-bottom:40px;*/
}

#footer {
	clear:both;
	background-color: #323232;
	text-align:center;
	color: white;
	padding: 10px 0px 10px 0px;
	position:relative;
	z-index:4;
}
#footer img {
	margin-top: -60px;
}
#footer a {
	padding-left:4px;
	padding-right:4px;
	color:white;
	text-decoration:none;	
}
#footer hr{
	width:65%;
}
#footer p{
	text-transform: uppercase;
}
#user_add {
	display:block; 
	margin-bottom: 10px;
}
#user_add .header_inscription{
	width:100%;
	text-align:center;
	background-color:#53c1dd;
	text-transform: uppercase;
	color:white;
	height:40px;
	line-height:40px;
	margin-top:40px; 
}
.center {
	text-align:center;	
}
td.center {
	padding-top:10px;
	padding-bottom:10px;
}
form#user_add .greyback label{
	line-height: 28px;
	text-align: right
}
form#user_add .greyback .lu{
	display:inline;
	line-height:20px;
	text-align:left;
	width:auto !important;
}
form#user_add .greyback input[type=submit]{
	background-color: white;
	color:#323232;
	text-transform: uppercase;
	padding:8px 14px 8px 14px;
	float: right;
	border: 1px solid #ccc;
  	border-radius: 4px;
	width:auto !important;
 	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
form#user_add .greyback input[type=submit]:hover{
	background-color: #53c1dd;
	color:white;
}
form#add_services {
	display:block; 
	width:480px; 
	margin:40px auto;
	border:1px solid black;
	border-radius:8px;
	padding:6px;
	position:relative;
}
form .input-field {
	display:block;
	margin-bottom:10px;
	padding:3px;
	font-size:1.05em;	
}
.input-field input, .input-field select {
	font-size:1.02em;	
}
.input-field input.error {
	border:#E93336 1px solid;	
}
.input-field .field_error {
	color:#FF060A;
	padding-left:5px;	
}
input.html_like.error {
	border:none !important;	
}
input.html_like {
	border:none;
	cursor:default;
	background-color:transparent !important;
	color:inherit !important;
}
.timepicker {
	text-align:center;	
}
a.add_dispo, a.remove_dispo {
	cursor:pointer;
	text-decoration:underline;	
}
.dispo_field {
	display:block;	
}
.navbar-default {
	background:#eb957f !important;	
	border:none;
	border-radius:0px;
}
.navbar-brand img {
	margin-top:-10px;	
	height:40px;
}
.search_navbar {
	text-align:center;	
}
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
	text-transform:uppercase;
}
.search_navbar input {
	border-radius:0px;	
	width:240px !important;
	margin-left:40px;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color:#FFF;	
}
.search_navbar button {
	border-radius:0px;	
	border:none;
	background:#767676 url(../img/search.png) no-repeat center;
	height:34px;
	width:38px;
}
.bluesearch {
	border-radius:0px;	
	border:none;
	background:#53c1dd url(../img/search.png) no-repeat center;
	height:34px;
	width:38px;
}
.bluesearch:hover {
	background-color:#53c1dd;
}
.blueback {
	background-color:#53c1dd;
	padding:12px;
	margin-top:15px;
	margin-left:-15px;
	margin-bottom:-15px;
	margin-right:-15px;
}
.blueback .form-group:last-child {
	margin-bottom:0px;	
}
.blueback label {
	color:#FFF;	
}
.search_navbar button:hover {
	background-color:#767676;
}
.dropdown-menu {
	min-width:100%;	
	width:100%;
}
select, input {
	border-radius:0px !important;	
}
.login-menu {
	padding: 15px; 
	min-width:240px;
}
.login-menu input[type=password], .login-menu input[type=text], .login-menu input[type=email] {
	margin-bottom: 15px;
	width:100%;
}
.login-menu input[type=checkbox] {
	float: left; 
	margin-right: 10px;
}
.login-menu input[type=submit] {
	clear: left; 
	width: 100%; 
	height: 32px; 
	font-size: 13px;
	display:inline-block;
}
.login-menu .remind {
	margin-top:5px;
	text-align:center;	
}
#remind_section {
	display:none;
}
.remind_link:hover {
	cursor:pointer;	
}
.grey_text {
	color:#9f9f9f;
	font-size:1.1em;
}
#loader_ajax {
	display:block; 
	position:absolute; 
	top:0; 
	left:0; 
	z-index:1000; 
	background-color:#FFF; 
	opacity:0.8; 
	text-align:center; 
	box-sizing:border-box; 
	padding:8px; 
	width:100%; 
	height:100%; 
	color:#000;
}
#loader_ajax p, #message_ajax p {
	width:100%;
  margin:0px !important; /* espacement horizontal des blocs */
  display:inline;
  display:inline-block;
  vertical-align:middle;
  text-align:center; /* on rétablit l'alignement du texte */
  height:auto;
  font-size:16px;

}
#message_ajax {
	display:block;  
	z-index:1000; 
	background-color:#21D076; 
	opacity:0.8; 
	text-align:center; 
	box-sizing:border-box; 
	border:1px solid #09931D;
	padding:10px; 
	width:100%; 
	height:auto !important; 
	color:#000;	
}
	/* ### SERVICES ### */

.left-text {
	text-align:left !important;
	padding-left:0px;	
	padding-right:15px;
}
.header_search {
	width:100%;
	text-align:center;
	background-color:#e5e4e4;
	color:#797878;
	height:40px;
	line-height:40px;
	margin-top:40px;
}
#spec_search {
	margin-bottom:45px;
}
#spec_search label {
	padding-right:10px;
}
#spec_search input[type="submit"]{
	text-transform: uppercase;
}
#spec_search input[type="submit"]:hover{
	background-color: #e5e4e4;
	color:black;
}
#spec_search .send input[type="submit"]{
	margin-top: 14px;
}
input.space-button {
	display:inline-block;
	width:84%;
	border-radius:0px;
}	
.ui-autocomplete, .ui-autocomplete .ui-menu-item, .ui-helper-hidden-accessible {
	z-index:99999;
	background:#FFF !important;	
}
.bloc_services {
	width:100%;	
	color:#FFF;
	height:100%;
	padding-bottom:-20px;
}
.fulltable {
	width:100%;
	border-collapse: collapse;
	table-layout:auto;
}	
.desc_services {
	clear:both;
	padding-left:15px;
	padding-right:15px;
	overflow: hidden;
    white-space: nowrap;
	height:90px;
	min-height:90px;
	position:relative;
	width:100%;
	vertical-align:top;
}
.desc_services h1 {
	font-size:1.3em;
	margin-top:10px;
}
.desc_services .location {
	padding-left:20px;
	float:right;
	background:url(../img/location.png) left no-repeat;
	position:absolute;
	right:10px;
	bottom:10px;
}
.bloc_services:nth-child(odd) {
	background:#74cce2;	
}
.bloc_services:nth-child(even) {
	background:#53c1dd;	
}
.picto {
	margin: 0px; 
	padding: 0px; 
	display: inline-block; 
	width: 100px;
	min-width:100px;
}
.picto-2 {
	background:url(../img/services/bricolage.png) center no-repeat;
	background-size:cover;	
}
.form-group {
	overflow:auto;	
}

	/* ### PROPOSE ### */

#spec_propose label {
	padding-right:10px;
}
#spec_propose .header_propose {
	width:100%;
	text-align:center;
	background-color:#53c1dd;
	text-transform: uppercase;
	/*font-size: 22px;*/
	color:white;
	height:40px;
	line-height:40px;
	margin-top:40px;	
}
.greyback{
	background-color:#e5e4e4;
	padding:26px;
	margin-left:0px;
	margin-bottom:0px;
	margin-right:0px;
	display:block;
	box-sizing:border-box;
}
.clear {
	clear:both;	
}
#spec_propose .greyback .form-group:last-child {
	margin-bottom:0px;	
}
#spec_propose .greyback label {
	color:#323232;
}
#spec_propose .greyback .days {
	display: inline;
	width:140px;
}
 .greyback .birthday {
	display: inline;
	width:66px;
}
.greyback .birthmonth {
	display: inline;
	width:66px;
}
 .greyback .birthyear {
	display: inline;
	width:80px;
}
#spec_propose .greyback .time {
	display: inline;
	width:70px;
	height:32px;
}
.greyback .zipcode {
	display: inline;
	width:100px;	
}
input#accept {
	display:inline;	
	width:auto !important;
} 
.greyback .liketext {
	border:none;
	background:transparent;	
	display:inline;
	width:auto !important;
	box-shadow:none;
}
#spec_propose .greyback button{
	margin-top: 6px;
	background-color: white;
	border: 1px solid #ccc;
  	border-radius: 4px;
 	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#spec_propose .greyback button:hover{
	background-color: #53c1dd;
	color:white;
}
#spec_propose .greyback .kilometre{
	display: inline;
	width:48px;
}
#spec_propose .greyback input[type=submit]{
	background-color: white;
	color:#323232;
	text-transform: uppercase;
	padding:8px 14px 8px 14px;
	float: right;
	margin-right: 15px;
	margin-top: 15px;
	border: 1px solid #ccc;
  	border-radius: 4px;
 	 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
#spec_propose .greyback input[type=submit]:hover{
	background-color: #53c1dd;
	color:white;
}

	/* ### A PROPOS ### */

#spec_apropos .teamtitle{
	width:100%;
	height:70px;
	background-color: #54c1de;
	margin-top: -20px;
}
#spec_apropos .down{
	margin-top: -4px;
}
#spec_apropos .pictodown{
	text-align: center;
}
#spec_apropos .teamtitle p {
	color:white;
	line-height: 70px;
	text-transform: uppercase;
	text-align: center;
	font-size: 1.5em;
}
#spec_apropos #spec_team{
	background-color: #323232;
	margin-top: -20px;
	padding-top: 60px;
	padding-bottom: 40px;
}
#spec_apropos #spec_team .row{
	box-sizing:border-box;
	width:100%;
	margin: 0;
	padding: 0;
	padding: 40px 0px 14px 0px;
}
#spec_apropos #spec_team img{
	margin-bottom: 46px;
}
#spec_apropos .projet{
	margin-top: -20px;
	padding: 40px 0px 40px 0px;
}
#spec_apropos .projet p{
	text-align: justify;
}

.auto_width {
	width:auto !important;
	display:inline;
}
	/* ### CGU/Mentions légales ### */
#spec_cgu p{
	margin-top: 20px;
}

#spec_cgu .cgutitle{
	background-image: url(../img/cgu/ruban1.png);
	background-repeat: no-repeat;
	height: 34px;
	margin-bottom: 2%;
}
#spec_cgu .cgutitle p {
	color:white;
	line-height: 34px;
	text-transform: uppercase;
	margin-left: 6%;
	font-size: 1.25em;
}
#spec_cgu .box img{
	margin-top: 39px;
}

#spec_cgu .mentiontitle{
	background-image: url(../img/cgu/ruban2.png);
	background-repeat: no-repeat;
	height: 34px;
	margin-bottom: 2%;
}
#spec_cgu .mentiontitle p {
	color:white;
	line-height: 34px;
	text-transform: uppercase;
	margin-left: 6%;
	font-size: 1.25em;
}

#spec_apropos {
	width:100% !important;
	padding:0px;
}

/* ### CONTACT ### */

#contact .header_contact{
	margin-top: -20px;
	height:270px;
	background-color: #53c1dd;
	padding:50px 0px 50px 0px;
}
#contact .header_contact .top{
	text-align: center;
	font-size: 38px;

	font-family: "Pacifico";
}
#contact .header_contact .bot{
	text-align: center;
}
#contact .header_contact img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 36px;
}
#contact .header_contact .row p{
	text-align: center;
}
#contact #spec_contact {
	padding: 70px 0px 0px 0px;
} 
#contact {
	width:100%;
	padding:0px;
	background-color: #e5e4e4;
}
.container.main, .container-fluid.main {
	padding-bottom:30px !important;
	min-height:100%;
	height:100%;
}
#contact #spec_contact input[type="submit"]{
	float: right;
	background-color: white;
	border:none;
	text-transform: uppercase;
	padding: 5px 8px 5px 8px;
	margin-right: 16px;
}
#contact #spec_contact input[type="submit"]:hover{
	background-color: #53c1dd;
	color:white;
}
#pagination {
	text-align:center;	
}

@media(max-width: 992px){
	#spec_cgu .pictocgu{
		position: relative;
		left:2%;
	}
	#spec_cgu .cgintitle {
		position: relative;
		left:6%;
	}
	#contact .header_contact img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 25px;
	}
}


@media (max-width:767px){
	.picto {
		display:none;
	}
	#footer {
		padding-left: 20px;
		padding-right: 20px;
		box-sizing:border-box;
		width:100%;
     }
	.search_navbar input {
		width:100% !important;	
	}
	.search_navbar .form-group {
		width:85%;
		text-align:center;
		display:inline-block;
		margin:auto;
	}
	.search_navbar input {
		display:inline-block;
	}	
	.search_navbar button {
		display:inline-block;	
		margin-top:-2px;
	}
	.greyback{
		padding: 8px;
	}
	#spec_apropos #spec_team img{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#spec_contact .form-group {
		padding:0px;
	}
	#contact .header_contact .top{
		font-size: 28px;
	}
}
/*FIX BOOTSTRAP*/
.row{
    margin-left: 0;
    margin-right: 0;
}

.container .row{
        margin-left: -15px;
        margin-right: -15px;
    }


