html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -ms-overflow-style: scrollbar;
}
@font-face {
    font-family: "Overlock";
    src: url('../fonts/overlock/Overlock-Regular.eot');
    src: local('☺'), url('../fonts/overlock/Overlock-Regular.woff') format('woff'), url('../fonts/overlock/Overlock-Regular.svg') format('svg'), url('../fonts/overlock/Overlock-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Pacifico";
    src: url('../fonts/pacifico/Pacifico.eot');
    src: local('☺'), url('../fonts/pacifico/Pacifico.woff') format('woff'), url('../fonts/pacifico/Pacifico.svg') format('svg'), url('../fonts/pacifico/Pacifico.ttf') format('truetype');
}
@font-face {
    font-family: "Calibri";
    src: url('../fonts/calibri/Calibri.eot');
    src: local('☺'), url('../fonts/calibri/Calibri.woff') format('woff'), url('../fonts/calibri/Calibri.svg') format('svg'), url('../fonts/calibri/Calibri.ttf') format('truetype');
}
#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -131px;
    padding-bottom: 131px;
    position: relative;
    width: 100%;
    overflow-y: hidden;
}
#footer {
    clear: both;
    background-color: #323232;
    text-align: center;
    color: white;
    padding: 10px 0px 10px 0px;
    position: relative;
    z-index: 4;
}
#footer img {
    margin-top: -60px;
}
#footer a {
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    text-decoration: none;
}
#footer hr {
    width: 65%;
}
#footer a:hover {
	text-decoration:underline;	
}
#footer a.social:hover {
	text-decoration:none !important;
}
#footer p {
    text-transform: uppercase;
}
#error {
    background-image: url('../img/404.png');
    background-position: top;
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    
    background-color: #323232;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
}
#error h1 {
    display: block;
    margin: 0 auto;
    padding-top: 56px;
    opacity: 0.5;
}
#login_form label {
    margin-bottom: 12px;
}
#clone_login {
    margin-top: 10px;
}
.link-profil,
.link-profil:hover {
    color: #FFF;
}
#clone_login input[type="submit"] {
    float: right;
    margin-top: 10px;
}
nav {
    -webkit-transform: translateZ(0);
}
#user_add,
#user_remind {
    display: block;
    margin-bottom: 10px;
}
#user_add .header_inscription,
#user_remind .header_inscription {
    width: 100%;
    text-align: center;
    background-color: #53c1dd;
    text-transform: uppercase;
    color: white;
    height: 40px;
    line-height: 40px;
    margin-top: 40px;
}
#footer a.social {
	display:inline-block;
	margin-top:-30px !important;
	margin-bottom:-30px !important;
	margin-left:8px;
	margin-right:8px;
}
#footer a.social img {
	margin-top:0px !important;	
}
.center {
    text-align: center;
}
td.center {
    padding-top: 10px;
    padding-bottom: 10px;
}
form#user_add .greyback label,
form#user_remind .greyback label {
    line-height: 28px;
    text-align: right;
}
.link_mail:hover {
    cursor: pointer;
}
.list_type_ option[disabled="disabled"] {
    font-weight: bold;
}
form#user_add .greyback .lu {
    display: inline;
    line-height: 20px;
    text-align: left;
    width: auto !important;
}
form#user_add .greyback input[type=submit],
form#user_remind .greyback input[type=submit],
.message_box input[type=submit],
.message_box button,
form:not(.login_form) input[type=submit]
form:not(.remind_form) input[type=submit] {
    background-color: white;
    color: #323232;
    text-transform: uppercase;
    padding: 8px 14px 8px 14px;
    float: right;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: auto !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
form#user_add .greyback input[type=submit]:hover,
form#user_remind .greyback input[type=submit]:hover,
.message_box input[type=submit]:hover,
.message_box button:hover,
form:not(.login_form) input[type=submit]:hover {
    background-color: #53c1dd;
    color: white;
}
form#add_services {
    display: block;
    width: 480px;
    margin: 40px auto;
    border: 1px solid black;
    border-radius: 8px;
    padding: 6px;
    position: relative;
}
form .input-field {
    display: block;
    margin-bottom: 10px;
    padding: 3px;
    font-size: 1.05em;
}
.input-field input,
.input-field select {
    font-size: 1.02em;
}
.input-field input.error {
    border: #E93336 1px solid;
}
.input-field .field_error {
    color: #FF060A;
    padding-left: 5px;
}
input.html_like.error {
    border: none !important;
}
input.html_like {
    border: none;
    cursor: default;
    background-color: transparent !important;
    color: inherit !important;
}
.timepicker {
    text-align: center;
}
a.add_dispo,
a.remove_dispo {
    cursor: pointer;
    text-decoration: underline;
}
.dispo_field {
    display: block;
    margin-top: 4px;
    margin-bottom: 4px;
}
.navbar {
    margin-bottom: 0px !important;
}
.navbar-default {
    background: #eb957f !important;
    border: none;
    border-radius: 0px;
}
.navbar-brand img {
    margin-top: -10px;
    height: 40px;
}
.search_navbar {
    text-align: center;
}
.visible {
    display: block !important;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFF;
    text-transform: uppercase;
}
.search_navbar input {
    border-radius: 0px;
    width: 240px !important;
    margin-left: 28px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.search_navbar button {
    border-radius: 0px;
    border: none;
    background: #767676 url('../img/search.png') no-repeat center;
    height: 34px;
    width: 38px;
}
.bluesearch {
    border-radius: 0px !important;
    border: none;
    background: #53c1dd url('../img/search.png') no-repeat center !important;
    height: 34px !important;
    width: 38px !important;
}
.bluesearch:hover {
    background-color: #53c1dd;
}
.blueback {
    background-color: #53c1dd;
    padding: 12px;
    margin-top: 15px;
    margin-left: -15px;
    margin-bottom: -15px;
    margin-right: -15px;
}
.blueback .form-group:last-child {
    margin-bottom: 0px;
}
.blueback label {
    color: #FFF;
}
.search_navbar button:hover {
    background-color: #767676;
}
.dropdown-menu.nav-h {
    min-width: 100% !important;
    width: 100% !important;
}
select,
input,
textarea {
    border-radius: 0px !important;
}
.login-menu {
    padding: 15px;
    min-width: 240px;
}
.login-menu input[type=password],
.login-menu input[type=text],
.login-menu input[type=email],
#clone_login input[type=password],
#clone_login input[type=text],
#clone_login input[type=email] {
    margin-bottom: 15px;
    width: 100%;
}
.login-menu input[type=checkbox],
#clone_login input[type=checkbox] {
    float: left;
    margin-right: 10px;
}
.login-menu input[type=submit], #remind_form input[type=submit] {
    clear: left;
    width: 100%;
    height: 32px;
    font-size: 13px;
    display: inline-block;
}
.login-menu .remind {
    text-align: center;
}
.login-menu .hidden_ {
    display: none;
}
#clone_login .hidden_ {
    display: block;
    margin-bottom: 4px;
    margin-top: 4px;
    font-size: 1.2em;
    font-weight: bold;
}
.notsigned {
    float: right;
    margin-top: 5px;
}
#clone_login #remind_section .remind {
    margin-top: 12px;
    margin-bottom: 0px;
    float: left;
}
#remind_section {
    display: none;
}
.remind_link:hover {
    cursor: pointer;
}
.grey_text {
    color: #e5e4e4;
    font-size: 1.1em;
}
#modal_alert .modal-title {
    text-align: center;
}
#loader_ajax {
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #FFF;
    opacity: 0.8;
    text-align: center;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
    height: 100%;
    color: #000;
}
#loader_ajax p,
#message_ajax p {
    width: 100%;
    margin: 0px !important;
    display: inline;
    display: inline-block;
    vertical-align: middle;
    padding: 5px !important;
    font-weight: bold;
    text-align: center;
    height: auto;
    font-size: 16px;
}
#loader_ajax p {
    position: absolute;
    bottom: 0px;
    margin-top: -2px;
    background: #A7A4A4;
    left: 0px;
}
#message_ajax p img {
    vertical-align: bottom !important;
}
#message_ajax {
    display: block;
    z-index: 1000;
    opacity: 0.8;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: auto !important;
    color: #000;
}
#message_ajax p {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
/* ### SERVICES ### */

.left-text {
    text-align: left !important;
    padding-left: 0px;
    padding-right: 15px;
}
.header_search {
    width: 100%;
    text-align: center;
    background-color: #e5e4e4;
    color: #797878;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    font-family: "Overlock";
    font-size: 1.2em;
}
#spec_search label {
    padding-right: 10px;
}
#spec_search input[type="submit"] {
    text-transform: uppercase;
}
#spec_search input[type="submit"]:hover {
    background-color: #e5e4e4;
    color: black;
}
#spec_search .send input[type="submit"] {
    margin-top: 14px;
}
#spec_services {
    display: inline-block;
    width: 100%;
    background-color: #3d3d3d;
    height: 100%;
    padding: 40px 0px 56px 0px;
}
#spec_services .grey_text {
    padding-left: 12px;
}
#spec_services .input-group {
    padding-left: 12px;
    padding-right: 12px;
}
.container.main #spec_services {
    width: 100%;
}
input.space-button {
    display: inline-block;
    width: 84%;
    border-radius: 0px;
}
.ui-autocomplete,
.ui-autocomplete .ui-menu-item,
.ui-helper-hidden-accessible {
    z-index: 99999;
    background: #FFF !important;
}
.ui-menu-item.ui-state-focus {
    color: #53c1dd;
    border: #53c1dd 1px solid;
}
.bloc_services {
    width: 100%;
    color: #FFF;
    height: 100%;
    padding-bottom: -20px;
}
.fulltable {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
.desc_services {
    clear: both;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    white-space: nowrap;
    height: 95px;
    min-height: 95px;
    position: relative;
    width: 100%;
    vertical-align: top;
    padding-bottom: 18px !important;
}
.desc_services h1 {
    font-size: 1.3em;
    margin-top: 10px;
}
.desc_services .location {
    padding-left: 20px;
    float: right;
    background: url(../img/location.png) left no-repeat;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.bloc_services td {
    border: none !important;
}
.bloc_services:nth-child(odd) {
    background: #74cce2;
}
.bloc_services:nth-child(even) {
    background: #53c1dd;
}
#rdv .table-responsive:last-child {
    margin-bottom: 32px;
    padding-top: 15px;
}
.list_rdv_ tbody tr,
.list_rdv_ tbody tr td {
    color: #FFF !important;
    vertical-align: middle;
}
.list_rdv_ tbody td:last-child {
    text-align: right;
}
.list_rdv_ tbody td:nth-of-type(2) {
    text-align: left;
    width: 40%;
}
.list_rdv_ tbody td:first-child {
    text-align: left;
    width: 40%;
}
.list_rdv_ tr:nth-child(odd) {
    background: #74cce2;
}
.list_rdv_ tr::nth-child(even) {
    background: #53c1dd;
}
.picto {
    margin: 0px;
    padding: 0px !important;
    width: 100px;
    min-width: 100px;
    height: 100%;
    min-height: 100%;
}
.form-group {
    overflow: auto;
}
#profil .form-group {
    overflow: visible !important;
}
/* ### ACCUEIL ###*/

#spec_accueil {
    padding: 0px !important;
}
.carousel-inner img {
    min-width: 100%;
}
.carousel-title {
    display: inline-block;
    position: absolute;
    font-family: "Pacifico";
    color: black;
}
.carousel-title h1 {
    font-family: "Pacifico";
    font-size: 3.8em;
}
.carousel-title p {
    margin-top: 28px;
    font-family: "Calibri";
    font-size: 1.175em;
}
.first .carousel-title {
    position: absolute;
    left: 5%;
    top: 26%;
}
.first h1,
.first p {
    color: white;
}
.second .carousel-title {
    position: absolute;
    left: 15%;
    top: 26%;
}
.second h1,
.second p {
    color: white;
}
.third .carousel-title {
    position: absolute;
    left: 58%;
    top: 26%;
}
.third h1,
.third p {
    color: #3d3d3d;
    text-align: center;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff !important;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50) !important;
    opacity: 0, 5 !important;
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))) !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%) !important;
}
#spec_accueil iframe {
    /*	display: block;
	margin: 0 auto;*/
    
    margin-top: 58px;
    margin-bottom: 64px;
}
/* ### SERVICE/ANNONCE DÉTAILLÉ ### */

.row {
    margin-left: 0px;
    margin-right: 0px;
}
.color-grey {
    background-color: #e5e4e4;
}
#spec_annonce .profil {
    display: inline-block;
    background-color: #3d3d3d;
    color: white;
    width: 100%;
    line-height: auto;
    padding: 60px 0px 60px 0px;
}
#spec_annonce .dispo {
    margin-left: 68px;
}
#spec_annonce .profil .name {
    font-size: 2em;
    margin-bottom: 30px;
}
#spec_annonce .profil .info {
    margin-top: 6px;
}
#spec_annonce .profil .loc img {
    margin-left: 1px;
}
#spec_annonce .profil .info img {
    margin-right: 0px;
    height: 20px;
    line-height: 20px;
}
#spec_annonce .profil .info.loc img {
    margin-right: 14px;
}
#spec_annonce .profil .info .disponi {
    padding-left: 32px;
}
#spec_annonce .profil .info .disponi:nth-of-type(1) {
    padding-left: 9px !important;
}
#spec_annonce .profil button,
.interesse a.btn {
    margin-top: 50px;
    font-weight: 500;
    background-color: white;
    color: black;
    border: none;
    padding: 10px 16px 10px 16px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
    text-indent: 0;
    white-space: inherit;
    border-radius: 0px;
}
#spec_annonce .profil button:hover,
.interesse a.btn:hover {
    background-color: #74cce2;
    color: white;
    border: none;
}
.header_m, .inner_m, .form_m {
	border-left:1px solid #CCC;	
}
#spec_annonce .servicepropose {
    background-color: #74cce2;
}
#spec_annonce .header_annonce {
    position: relative;
    top: 6px;
    left: 80px;
    color: white;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.8em;
    display: inline-block;
}
#spec_annonce .greyback p {
    padding: 40px 0px 40px 0px;
}
#spec_annonce .greyback img {
    margin-right: 6px;
}
#spec_annonce .greyback a {
    color: black;
}
#spec_annonce .greyback a:hover {
    color: #74cce2;
}
.fullfit {
    display: block;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}
/* ### PROPOSE ### */

.header_propose {

    width: 100%;
    height: auto;
    display: inline-block;
    background-color: #323232;
    color: white;
    padding-bottom: 30px;
}
.header_propose .top,
.header_rdv .top {
    text-align: center;
    font-size: 38px;
    margin-bottom: 28px;
    font-family: "Pacifico";
}
.nobadge {
	margin-bottom:15px;	
}
.header_propose .bot,
.header_contact .bot {
    text-align: center;
    background: transparent !important;
}
.list_serv {
    margin-top: 12px;
}
.title_propose {
    width: 100%;
    text-align: center;
    background-color: #53c1dd;
    text-transform: uppercase;
    color: white;
    height: 40px;
    line-height: 40px;
    margin-top: -5px;
    font-family: "Overlock";
    font-size: 1.2em;
    letter-spacing: 0.05em;
}
#spec_propose label {
    padding-right: 10px;
}
#spec_proposition {
    width: 100%;
}
.greyback {
    background-color: #e5e4e4;
    width: 100%;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    display: inline-block;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.greyback .form-group:last-child {
    margin-bottom: 0px;
}
.greyback label,
.greyback label {
    color: #323232;
    text-align: right
}
.days {
    display: inline;
    width: 140px;
}
.birthday {
    display: inline;
    width: 66px;
}
.birthmonth {
    display: inline;
    width: 66px;
}
.birthyear {
    display: inline;
    width: 80px;
}
.greyback .time,
form .time {
    display: inline;
    width: 70px;
    height: 32px;
}
#modal_date .tit {
    text-decoration: underline;
    margin-bottom: 8px;
}
#modal_date input[type="submit"] {
    margin-top: 12px;
	display:block !important;
}
.greyback .zipcode,
form .zipcode {
    display: inline;
    width: 100px;
}
input#accept {
    display: inline;
    width: auto !important;
}
.greyback.row .description {
   padding-left: 8px !important;
   padding-right: 8px !important;
}
form .liketext {
    border: none;
    background: transparent !important;
    display: inline;
    width: auto !important;
    box-shadow: none;
    cursor: default !important;
}
.greyback .liketext:not(.fullwidth),
.greyback .liketext:not(.fullwidth) {
    border: none;
    background: transparent !important;
    display: inline;
    width: auto !important;
    box-shadow: none;
    cursor: default !important;
}
.greyback .liketext.fullwidth,
.greyback .liketext.fullwidth {
    border: none;
    background: transparent;
    display: inline;
    width: 100% !important;
    box-shadow: none;
    cursor: default !important;
}
.greyback button {
    margin-top: 6px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.greyback button:hover {
    background-color: #53c1dd;
    color: white;
}
.greyback .kilometre {
    display: inline;
    width: 48px;
}
.greyback input[type=submit] {
    background-color: white;
    color: #323232;
    text-transform: uppercase;
    padding: 8px 14px 8px 14px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.greyback input[type=submit]:hover,
form input[type=submit]:hover {
    background-color: #53c1dd !important;
    color: white !important;
}
.text-left {
    text-align: left !important;
}
.aste {
    text-align: left;
    font-size: 0.9em;
}
/* ### COMMENT ÇA MARCHE ### */

#spec_ccm {
    width: 100%;
    padding: 0px;
}
#spec_tuto {
    padding-top: 24px;
    padding-bottom: 32px;
}
#spec_tuto .list_view {
    width: 100%;
    text-align: center;
}
#spec_tuto .view {
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin: 4px 8px 4px 8px;
    display: inline-block;
}
#spec_video {
    margin-bottom: 26px;
}
#spec_video .pictodown {
    margin-bottom: 26px;
}
#spec_video iframe {
    /*	display: block;
	margin: 0 auto;*/
}
/* ### A PROPOS ### */

#spec_apropos {
    background-color: white;
    width: 100% !important;
    padding: 0px;
}
.banner_title {
    width: 100%;
    height: 70px;
    background-color: #54c1de;
    font-family: "Overlock";
    font-size: 1.2em;
}
.banner_title p {
    color: white;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}
#spec_apropos .down {
    margin-top: -6px;
}
#spec_apropos .pictodown {
    text-align: center;
}
#spec_apropos #spec_team {
    background-color: #323232;
    margin-top: -20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
#spec_apropos #spec_team .row {
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#spec_apropos #spec_team li {
    margin-left: 20px;
    margin-bottom: 20px;
}
#spec_apropos .projet {
    margin-top: -20px;
    padding: 40px 0px 40px 0px;
}
#spec_apropos .projet p {
    text-align: justify;
}
.team {
    margin-left: -20px;
}
.auto_width {
    width: auto !important;
    display: inline;
}
.list_view {
    width: 100%;
    text-align: center;
}
.view {
    width: 225px;
    height: 225px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin: 0 auto;
    display: inline-block;
}
.view .mask,
.view .content {
    width: 225px;
    height: 225px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center;
}
.view a.more {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
}
.view a.more:hover {
    -webkit-box-shadow: 0 0 5px #000;
    -moz-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
}
.view-sixth img {
    -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
}
.view-sixth .mask {
    background-color: rgba(146, 96, 91, 0.5);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0.4s;
    -moz-transition: all 0.3s ease-in 0.4s;
    -o-transition: all 0.3s ease-in 0.4s;
    -ms-transition: all 0.3s ease-in 0.4s;
    transition: all 0.3s ease-in 0.4s;
}
.view-sixth h2 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background: transparent;
    margin: 20px 20px 0px 20px;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(10);
    -moz-transform: scale(10);
    -o-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -moz-transition: all 0.3s ease-in-out 0.2s;
    -o-transition: all 0.3s ease-in-out 0.2s;
    -ms-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
}
.view-sixth a.more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -o-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    -moz-transition: all 0.3s ease-in-out 0.1s;
    -o-transition: all 0.3s ease-in-out 0.1s;
    -ms-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}
.view-sixth:hover .mask {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.view-sixth:hover img {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
.view-sixth:hover h2 {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.view-sixth:hover p {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.view-sixth:hover a.more {
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
/* ### CGU/Mentions légales ### */

.cgutitle {
    width: 100%;
    height: 70px;
    background-color: #54c1de;
    font-family: "Overlock";
    font-size: 1.2em;
}
.container .cgutitle {
    padding-top: 0px !important;
}
.cgutitle p {
    color: white;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    z-index: -9000;
}
.down {
    margin-top: -6px;
}
.pictodown {
    text-align: center;
}
#spec_cgu_mention {
    width: 100% !important;
    padding: 0px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#spec_cgu_mention .cgu_wrap ul {
    list-style-type: none;
    padding: 0;
}
.cgu_wrap {
    max-width: 54em;
    margin: 0 auto;
    padding: 0 1em 1.875em;
}
#spec_cgu_mention .header_cgu {
    background-color: #323232;
    line-height: 39px;
    height: 39px;
    margin-top: -39px;
    margin-left: 39px;
}
#spec_cgu_mention .header_cgu p {
    width: auto;
    font-family: "Overlock";
    font-size: 1.2em;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    z-index: 9000;
}
#spec_cgu_mention .greyback {
    background-color: #e5e4e4;
    padding: 26px;
    display: block;
    z-index: -9000;
    text-align: justify;
}
.box li {
    margin: 32px 0px 32px 0px;
}
.mentiontitle {
    width: 100%;
    height: 70px;
    background-color: #54c1de;
    font-family: "Overlock";
    font-size: 1.2em;
}
.mentiontitle p {
    color: white;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    z-index: -9000;
}
#spec_mention .mention_wrap {
    padding: 20px !important;
}
/* ### CONTACT ### */

#contact .header_contact {
    margin-top: -20px;
    background-color: #53c1dd;
    padding: 30px 0px 20px 0px;
}
#contact .header_contact .top {
    text-align: center;
    font-size: 38px;
    margin-bottom: 28px;
    font-family: "Pacifico";
}
#contact .header_contact .bot {
    text-align: center;
}
#contact .header_contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 26px;
}
#contact .header_contact .row p {
    text-align: center;
}
#contact #spec_contact {
    padding: 40px 0px 0px 0px;
}
#contact {
    width: 100%;
    padding: 0px;
    background-color: #e5e4e4;
}
.container.main,
.container-fluid.main {
    padding-bottom: 30px !important;
    min-height: 100%;
    height: 100%;
    position: relative;
}
.back-grey {
    background: #e5e4e4;
}
#contact #spec_contact input[type="submit"] {
    float: right;
    background-color: white;
    border: none;
    text-transform: uppercase;
    padding: 5px 8px 5px 8px;
    margin-right: 16px;
}
#contact #spec_contact input[type="submit"]:hover {
    background-color: #53c1dd;
    color: white;
}
/* ### PROFIL ### */

#profil {
    width: 100%;
    padding: 0;
}
#profil.mon_profil {
    padding: 0px;
}
#rdv {
    width: 100% !important;
    padding: 0px !important;
}
#profil .header_profil,
#rdv .header_rdv {
    color: white;
    background-color: #323232;
    padding: 50px 0px 20px 0px;
}
#profil .header_profil .top {
    text-align: center;
    margin-bottom: 28px;
}
@media(min-width: 992px) {
    #profil .header_profil .top .infos {
        text-align: left!important;
    }
}
#profil input,
#profil textarea {
    color: #000;
}
#profil .header_profil .top .infos .nom span {
    font-family: "Pacifico";
    font-size: 2em;
    display: inline-block;
}
#profil .header_profil .edit .infos .nom br {
    display: none;
    /* empêcher le saut de ligne dans l'édit */
}
.change_pass {
    font-size: 1.18em;
    text-decoration: underline;
    text-align: left;
    color: #CDCDCD;
    margin-bottom: 4px;
}
.see_profile {
    display: block;
    padding: 6px;
}
#profil form .liketext {
    color: #FFF !important;
}
.border-hr {
    border-bottom: #7A7A7A 1px solid !important;
    height: 2px !important;
    margin-bottom: 10px !important;
}
.badge_ {
    display: inline-block;
    margin: 8px;
}
.inner_m .bot a.refuse-this-date,
.inner_m .bot a.valid-this-date {
    text-decoration: none;
    color: #666666;
    font-style: italic;
    font-weight: bold;
}
.inner_m .bot a.refuse-this-date:hover,
.inner_m .bot a.valid-this-date:hover {
    text-decoration: none;
    color: #666666;
    cursor: default;
}
.inner_m .bot a.actived,
.inner_m .bot a.note-this-date {
    font-style: normal;
    text-decoration: none;
    color: #4A52EF !important;
    font-weight: bold;
}
.inner_m .bot a.actived:hover,
.inner_m .bot a.note-this-date:hover {
    text-decoration: underline;
    color: #254CDF;
    cursor: pointer;
}
.description_ {
    margin-top: 15px;
    margin-bottom: 8px;
}
.text-center {
    text-align: center;
}
#profil .header_profil span img {
    margin-right: 5px;
}
#profil .header_profil .btn {
    background-color: #f3f0f0;
    border-radius: 0;
    color: black;
}
#profil .header_profil .btn:hover {
    background-color: #53c1dd;
    color: white;
}
#profil .header_profil .top .tags p {
    display: inline-block;
    background-color: #f3f0f0;
    color: black;
    padding: 3px;
}
.profiltitle {
    color: white;
    width: 100%;
    height: 70px;
    background-color: #5fe1bb;
    font-family: "Overlock";
    font-size: 1.2em;
}
.profiltitle p {
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}
.notes > div {
    color: white;
    border-radius: 10px;
}
.notes .rating-stars {
    color: #FFF !important;
}
.notes center {
    padding: 12px;
}
.notes .title {
    font-size: 1.2em;
    margin-top: 4px;
}
.notes .title a {
    color: #FFF !important;
    text-decoration: underline !important;
}
.notes p {
    padding: 4px 10px 4px 10px;
    font-style: italic;
    font-size: 1.1em;
}
.notes i {
    font-size: 0.9em;
    float: right;
    text-align: right;
}
#profil .form-group {
    text-align: left !important;
}
.notes div.note:nth-child(odd) {
    /*background-clip: content-box;*/
    
    background-color: #53c1dd;
    /*bleu*/
    
    margin-bottom: 10px;
    margin-top: 10px;
}
.notes div.note:nth-child(even) {
    background-color: #c495bf;
    /*violet*/
    
    margin-bottom: 10px;
    margin-top: 10px;
}
.notes {
    margin-bottom: 20px;
}
#spec_annonce .profiltitle {
    background: #74cce2;
    margin-top: 15px;
}
.checkbox {
    margin-top: 0px;
}
input#mail {
    margin-left: 0px !important;
}
/* ### PROPOSITION ### */

#proposition table tr.bloc_services:nth-child(odd) {
    background-color: #74CCE2;
    /*bleu clair*/
}
#proposition table tr.bloc_services:nth-child(even) {
    background-color: #53C1DD;
    /*bleu foncé*/
}
#proposition table tr td.delete {
    vertical-align: middle;
}
#proposition table tr td.edit {
    vertical-align: middle;
}
#pagination {
    text-align: center;
}
.noborder {
    border: none;
}
.table-responsive,
.container.main > div:first-child:not(.nonullpad),
.container.main > form:first-child:not(.nonullpad) {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
}
.nopadd {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
td {
    white-space: normal !important;
}
.nonullpad {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.fullwidth {
    width: 100% !important;
}
.mess_count {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    height: 18px;
    width: 18px;
    background: url(../img/icon/read.png) center no-repeat;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    line-height: 18px;
}
.mess_count.red {
    background: url(../img/icon/unread.png) center no-repeat;
}
.chat_title {
    display: block;
    color: #269ed0;
    padding-left: 30px;
    font-size: 1.3em;
}
.chat_for {
    display: block;
    padding-left: 30px;
    font-size: 0.8em;
}
#modal_chat input[type="submit"], #modal_report input[type="submit"] {
    text-transform: uppercase;
    margin-top: 8px;
    width: 120px;
    float: right;
}
#modal_chat input[type="submit"]:hover {
    background-color: #e5e4e4;
    color: black;
}
#modal_chat .result_form {
    display: none;
}
.navbar-right li.open > a {
    background: #eca694 !important;
}
.moved-group {
    margin-left: 114px;
    position: absolute;
    top: 50px;
    left: 0px;
}
.brand-title {
    display: none;
    position: absolute;
    height: 50px;
    line-height: 58px;
    left: 0px;
    top: 0px;
    margin: 0 auto;
    width: 100% !important;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: #FFF;
    font-size: 18px;
    z-index: -2;
}
.shrink {
    display: none;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    width: 100% !important;
    text-align: center;
    color: white;
    font-size: 1.5em;
    z-index: 2;
}
.voting {
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}
.voting input,
.voting label,
.voting textarea {
    font-weight: normal;
    font-size: 0.94em;
}
.shortage {
    display: none;
    height: 39px;
    line-height: 39px;
    margin: 0 auto;
    width: 100% !important;
    text-align: center;
    color: white;
    font-size: 1em;
    z-index: 2;
    font-family: "Overlock";
    font-size: 1.2em;
}
.navbar-header img.min {
    display: none;
}
.listing-s {
    display: none;
}
.listing-s.visible {
    display: block;
}
/* MESSAGERIE */

.mess_t:hover {
    cursor: pointer;
    background: #DFDFDF;
}
.mess_t {
    background: #E4E4E4;
    padding: 3px;
    border-bottom: 1px solid #FFF;
    position: relative;
}
.mess_t.active {
    background: #54C0DD;
}
.other {
    background: #54C0DD;
    display: block;
    width: 78%;
    padding: 6px;
    padding-left: 40px;
    padding-right: 9%;
    border-radius: 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 16%;
    clear: both;
    float: left;
}
.me {
    clear: both;
    float: right;
    background: #FFF;
    display: block;
    width: 78%;
    padding: 6px;
    padding-left: 9%;
    padding-right: 40px;
    text-align: right;
    background: #CCC;
    border-radius: 10px;
    margin-left: 16%;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 8px;
}
.inner_m .bot {
    background: #F8CF82;
    display: block;
    width: 100%;
    padding: 6px;
    padding-left: 40px;
    padding-right: 9%;
    border-radius: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 0px;
    clear: both;
    float: left;
}
.message_box {
    margin-top: 40px;
    height: auto;
    min-height: 475px;
    border: 1px solid #CCC;
    padding-top: 0px !important;
    padding-bottom: 5px;
}
#list_m input,
#list_m button {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}
#list_m {
    width: 220px;
    min-width: 220px;
    display: inline-block;
    height: 100%;
    min-height: 100%;
    overflow: auto;
    position: relative;
    z-index: 2;
}
#content_m {
    width: 100%;
    margin-left: -221px;
    display: inline-block;
    height: 100%;
    min-height: 100%;
    position: relative;
    padding-left: 221px;
    vertical-align: top;
}
.msg:first-child {
    margin-top: 0px !important;
}
.inner_m {
    height: 240px;
    overflow: auto;
    max-height: 240px;
    min-height: 240px;
}
.header_m {
    color: #54C0DD;
    font-size: 20px;
    border-bottom: 1px solid #CCC;
    height: auto;
    min-height: 86px;
    position: relative;
}
.header_m .return_list {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}
.header_m > span {
    padding: 14px;
    padding-left: 30px;
    display: inline-block;
}
.header_m .m_for {
    color: #000;
    font-size: 14px;
    padding-left: 15px;
    display: inline-block;
}
.header_m .mess_count {
    display: none !important;
}
.message_box textarea {
    margin-bottom: 6px;
}
.message_box button,
.message_box input {
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 3px;
}
#list_m .input-group {
    border: 1px solid #CCC;
    border-bottom: 2px solid #CCC;
}
.mess_t .mess_count {
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -9px;
    display: none;
}
.mess_t .mess_count.red {
    display: block !important;
}
.msg .time {
    font-size: 10px;
    font-style: italic;
    display: block;
}
.delete_m {
    position: absolute;
    top: 2px;
    right: 3px;
    font-size: 11px;
    color: #000;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
}
.modal .mess_count {
    display: none;
}
#modal_date #datepicker {
	margin-bottom:15px;	
}
.delete_m:hover {
    color: #000;
    text-decoration: none !important;
    border: 1px solid #262626;
    border-radius: 50%;
}
.valid-this-date:hover,
.refuse-this-date:hover,
.note-this-date:hover {
    cursor: pointer;
}
#modal_delete .delete_m,
.header_m .delete_m {
    display: none !important;
}
#modal_delete a {
    text-decoration: none;
}
.cancel_modal,
.valid_modal {
    margin-left: 45px;
    margin-right: 45px;
    margin-top: 14px;
    display: inline-block;
}
.badge_:hover {
    cursor: pointer;
}
.badge_.glow {
    border: 2px solid #466DE9;
}
.listing-s {
    margin: 7px auto 6px auto;
    width: auto;
	padding-left:9px;
	padding-right:9px;
    max-width: 430px;
    text-align: left;
}
.listing-s a {
    display: inline-block;
    margin: 2px 0px 2px 0px;
    font-size: 1.16em;
}
.open-all-com:hover {
    cursor: pointer;
}
#modal_coms .modal-body {
    max-height: 360px;
    height: 360px;
    overflow: auto;
}
#modal_coms .notes {
    margin-bottom: 0px;
}
#modal_coms .note {
    width: 92% !important;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
#list_m .mess_t a {
	color:#000 !important;
}
#list_m .mess_t .m_for a {
	font-style:italic;
}
#list_m .mess_t a:hover {
	color:#000 !important;
	text-decoration:none !important;
}
.nordv {
	height:32px !important;
	min-height:32px !important;	
	line-height:32px !important;
	display:table-cell !important;
}
#popup_report {
	padding-top:2px !important;
	padding-bottom:2px !important;	
}
.report-button {
	padding-top:2px !important;
	padding-bottom:2px !important;	
	margin-top:35px;
}
@media (max-width: 381px) {
    .message_box {
        height: auto;
    }
}
@media (max-width: 701px) {
    .header_m .return_list {
        display: inline-block;
        width: 60px;
        height: 100%;
        background: #1864EB;
        font-size: 16px;
        text-align: center;
        color: #FFF;
    }
    .header_m .return_list:hover {
        cursor: pointer;
    }
    .header_m > span {
        padding: 14px;
        padding-left: 74px !important;
        display: inline-block;
    }
    #content_m {
        display: none;
        margin-left: 0px !important;
        padding-left: 0px !important;
    }
    #content_m.montre {
        display: inline-block;
    }
    #list_m {
        width: 100%;
        min-width: 100%;
    }
    .mess_t.active {
        background: #E4E4E4 !important;
    }
    #list_m.cache {
        display: none;
    }
	.header_m, .inner_m, .form_m {
		border-left:none !important;	
	}
}
@media (min-width: 768px) {
    .navbar-header .mess_count {
        display: none;
    }
    .nav-h {
        background: #eca694;
        left: 0;
        right: 0;
        width: 100%;
        border-radius: 0px !important;
        text-align: right;
        border-bottom: none !important;
    }
    .navbar-right {
        position: inherit !important;
    }
    .dropdown.hf {
        position: inherit !important;
    }
    .nav-h li {
        display: inline-block;
        text-align: center;
    }
    .nav-h {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .nav-h li a {
        padding-top: 5px;
        padding-bottom: 5px;
        width: auto !important;
        display: inline-block !important;
        color: white !important;
    }
    .nav-h li a:hover,
    .nav-h li.active > a {
        color: #000 !important;
        background: #e7e7e7 !important;
    }
    .nav-h li:last-child {
        text-align: right;
    }
    .navbar-right {
        position: relative;
        text-align: center;
    }
    .navbar-right .dropdown-toggle img {
        position: absolute;
        top: 5px;
        left: 5px;
    }
    .navbar-right .dropdown-toggle .caret {
        float: right;
        margin-top: 10px;
    }
    .navbar-right .dropdown.hf .dropdown-toggle {
        padding-left: 50px;
    }
    .navbar-right ul,
    .navbar-right .dropdown-toggle {
        min-width: 150px;
        width: auto !important;
    }
}
@media(max-width: 992px) {
    #contact .header_contact img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
    .carousel-title h1 {
        font-size: 3em;
    }
    .carousel-title p {
        font-size: 1em;
    }
}
.black-text {
	color:#000 !important;	
}
@media (max-width: 767px) {
	.mess_t .mess_count {
		position: absolute;
		right: 34px;
	
	}
	.delete_m {
		color: #000;
		font-size: 25px !important;
		height: 30px !important;
		line-height: 30px !important;
		position: absolute;
		right: 3px;
		text-align: center;
		top: 5px !important;
		width: 30px !important;
	}
	.nav-open {
		-webkit-overflow-scrolling: auto;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background:transparent !important;
	}
	.navbar-nav .dropdown-menu > li > a, .navbar-nav .dropdown-menu .dropdown-header {
    padding: 8px 15px 8px 25px !important;
	}
	.navbar-default .navbar-nav > a, .navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav >  a:focus {
    	color: #555 !important;
	}
	.navbar-right li > a.dropdown-toggle {
    	background: none repeat scroll 0 0 #eca694 !important;
	}
	.navbar-nav .dropdown-menu {
		background-color: transparent !important;
		border: 0 none;
		box-shadow: none;
		float: none;
		margin-top: 0;
		position: static;
		width: auto;
	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
		background:#e7e7e7 !important;
	}
	.dropdown-menu {
    	display: block !important;
	}
	#modal_date #datepicker {
		margin-left:-12px;
		margin-right:-12px;
	}
	#modal_date input[type="submit"] {
    	margin-top: 20px;
	}
	#spec_services .blueback {
		margin-top: 15px;
   		margin-left: -10px !important;
    	margin-bottom: -15px;
    	margin-right: -10px !important;
	}
    .list_rdv_ tbody td {
        display: block;
        border-top: none !important;
        font-size: 1.1em;
    }
    .list_rdv_ tbody td:last-child {
        border-bottom: 1px solid #ccc !important;
        margin-top: -10px;
    }
    .list_rdv_ tbody td:nth-of-type(2) {
        margin-top: -12px;
        width: 100%;
        text-align: center;
    }
    .list_rdv_ tbody td:first-child {
        width: 100%;
    }
    .avatan {
        text-align: center;
    }
    #spec_annonce .dispo {
        margin-left: 0px !important;
        margin-top: 6px;
    }
    .interesse a,
    .interesse button {
        margin-top: 25px;
    }
    .cgu_wrap .pic {
        display: none;
    }
    .header_cgu {
        margin-top: 0px !important;
        margin-left: 0px !important;
    }
    .navbar-header .mess_count {
        display: none;
    }
    .navbar-header .mess_count.red {
        position: absolute;
        right: 10px;
        top: 30px;
        display: block !important;
    }
    .bloc_services {
        border-bottom: 1px solid #FFF;
    }
    .carousel-indicators {
        position: absolute;
        bottom: -2px !important;
    }
    .carousel-inner p {
        display: none;
    }
    .carousel-title h1 {
        margin: 0 auto;
        margin-top: -2px;
        text-align: center;
        font-size: 1.6em;
    }
    .carousel-title p {
        font-size: 0.5em;
    }
    .first .carousel-title {
        position: absolute;
        left: -8%;
        top: 30%;
    }
    .second .carousel-title {
        position: absolute;
        left: 10%;
        top: 30%;
    }
    .third .carousel-title {
        position: absolute;
        left: 50%;
        top: 26%;
    }
    .box li {
        display: inline-block;
        margin: 32px 0px 32px 0px;
    }
    .header_cgu .short {
        display: none;
    }
    .cgutitle p {
        display: none;
    }
    .shortage {
        display: inline-block;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .brand-title {
        display: inline-block;
        padding-left: 63px;
        padding-right: 63px;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        /* pour Opera 9 */
        
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
    .shrink {
        display: inline-block;
    }
    .navbar-header img.min {
        display: block;
    }
    .navbar-header img.max {
        display: none;
    }
    .navbar-right .dropdown-toggle img {
        display: none;
    }
    .navbar-right .dropdown-menu li a {
        color: #F3F3F3 !important;
    }
    .navbar-right .dropdown-menu li a:hover {
        color: #000 !important;
    }
    .nav-h li.active a {
        color: #000 !important;
    }
    #spec_annonce .interesse button {
        margin-left: 6px !important;
        margin-right: 6px !important;
    }
    #spec_annonce .interesse {
        text-align: center;
    }
    .container .servicepropose .row img {
        display: none;
    }
    .remind_link {
		padding-top:8px;
        color: #FFF;
		display:block;
    }
	.view-sixth .mask, .view-sixth .mask h2, .view-sixth .mask p, .view-sixth .mask a {
		opacity:1 !important;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-o-transform: none !important;
		-ms-transform: none !important;
		transform: none !important;
	}
    #clone_login .remind_link {
        color: #337ab7;
    }
    .toline-xs {
        display: block;
        margin-top: 10px;
    }
    form#user_add .greyback label,
    form#user_remind .greyback label {
        color: #323232;
        text-align: left;
    }
    .picto {
        display: none;
    }
    .container #spec_services {
        padding-left: 0px;
        padding-right: 0px;
    }
    .container .table-responsive {
        padding-left: 8px;
        padding-right: 8px;
    }
    #footer {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        width: 100%;
    }
    .search_navbar input {
        width: 100% !important;
        margin-left: 0px !important;
    }
    .search_navbar .form-group {
        width: 85%;
        text-align: center;
        display: inline-block;
        margin: auto;
    }
    .search_navbar input {
        display: inline-block;
    }
    .search_navbar button {
        display: inline-block;
        margin-top: -2px;
    }
    .greyback {
        padding: 8px;
    }
    #spec_contact .form-group {
        padding: 0px;
    }
    #contact .header_contact .top {
        font-size: 2em;
    }
    .desc_services h1 {
        font-size: 1.25em;
    }
    .main #spec_services {
        padding-left: 0px;
        padding-right: 0px;
    }
    #spec_annonce .dispo {
        margin-left: 150px;
    }
    #spec_annonce .dispo .name {
        font-size: 1.6em
    }
    #spec_annonce .interesse button {
        margin-left: -18px;
    }
    #spec_annonce .header_annonce {
        position: relative;
        top: 6px;
        left: 24px;
        font-size: 1.6em;
        height: 85px;
        line-height: 85px;
    }
    .greyback label {
        padding-right: 10px;
        text-align: left;
    }
    .greyback {
        padding: 36px 0px 56px 0px;
        margin-bottom: -35px;
    }
    .header_propose .top {
        font-size: 2em;
    }
    .desc_services .location {
        bottom: 2px;
    }
    .servicepropose .header_annonce {
        top: 0px !important;
        bottom: 0px !important;
    }
    .inline-xs {
        display: inline;
    }
    .navbar-header {
        text-align: center;
    }
    .navbar-header img {
        float: left;
    }
}
/*FIX BOOTSTRAP*/

.row {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*.container .row{
	margin-left: -15px;
	margin-right: -15px;
 }
 .container .servicepropose .row {
	 margin-left: 0px;
     margin-right: 0px;
 }*/

#tags > .tag {
    margin: 3px;
}
#tags .tag {
    font-family: sans-serif !important;
}
.infos #tags {
    margin-bottom: 6px;
}
.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    color: #555;
    vertical-align: middle;
    border-radius: 0px;
    max-width: 100%;
    width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: auto !important;
    max-width: inherit;
}
.bootstrap-tagsinput input:focus {
    border: none;
    box-shadow: none;
}
.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.info .rating-container .rating-stars {
    color: #FFF !important;
}
.info .star-rating {
    display: inline-block;
    font-size: 1.3em !important;
}
.info .star-rating span {
    font-size: 0.64em !important;
}
.info.rate {
    font-size: 1.25em;
}
.info.rate.note {
    background: #323232 !important;
}
.uploader-controls .uploader-preview {
    display: inline-block;
    float: left;
    font-size: 12px;
    margin-right: 10px;
}
.uploader-controls .uploader-preview img {
    max-width: 120px;
    border: 1px solid #ccc;
    vertical-align: top;
}
.uploader-controls .uploader-error {
    color: #bb3636;
    font-size: 12px;
}
.uploader-controls .uploader-side {
    display: inline-block;
    max-width: 130px;
    position: relative;
    position: absolute;
    top: 96px;
    left: 50%;
    margin-left: -65px;
    opacity: 0.7;
}
.uploader-controls .uploader-side:hover {
    opacity: 1;
    cursor: pointer;
}
.uploader-controls .uploader-side .uploader-progress {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    margin-top: 7px;
    margin-bottom: 5px;
    position: absolute;
    height: 20px;
    top: -45px;
    left: 50%;
    margin-left: 10px;
}
.uploader-controls .uploader-side div:hover,
.uploader-controls .uploader-side button:hover,
.uploader-controls .uploader-side input:hover {
    cursor: pointer;
}
.uploader-controls .uploader-side .uploader-help {
    margin-top: 5px;
    color: #999;
    font-size: 12px;
}
.uploader-controls .uploader-side .uploader-file-input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
.uploader-controls .uploader-side .uploader-file-input input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    font-size: 50px;
    cursor: pointer;
    opacity: 0;
}
.uploader-controls .uploader-button {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 130px;
    min-width: 130px;
}
.uploader-controls .uploader-input {
    padding-top: 10px;
    clear: left;
}

@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}